<nav class="container flex justify-around p-6 items-center">
    <div class="flex">
        <a href="/" class="px-3 underline">خانه</a>
        <a href="/blog" class="px-3 underline">وبلاگ</a>
    </div>
    <div>
        {% if app.session.get('userisLogin') != '1' %}
        <a href="/user/login" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">ورود</a>
        <a href="/user/register" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">ثبت نام</a>
        {% else %}
        <span>خوش آمدید {{ app.session.get('username') }}</span>
        {% if app.session.get('isadmin') == '1' %}
        <a href="#" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">مدیریت کاربران</a>        
        {% endif %}
        <a href="#" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">ثبت نوشته</a>
        <a href="/user/logout" class="text-red-500">خروج</a>
        {% endif %}
    </div>
</nav>